#navBar {
  background-color: #210f878e;
  overflow: hidden;
  padding: 0;
  max-width: 100vw;
  font-size: 1rem;
}
#navBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* hsl (hue, saturation, lightness) => Farbton, Sättigkeit, Helligkeit */

#navBar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
#navBar a:visited {
  color: #FF7A00;
}
#navBar a:hover {
  background-color: hsl(0, 0%, 25%);
  color: yellow;
}
#navBar a {
  color: blue;
}
#navBar li {
  float: left;
}
#marqueeRight, #marqueeLeft{
  font-size: clamp(3rem, calc(7vw + 2rem), 4rem);
  padding-top: 0.3em;
  animation: blinker 1.5s infinite;
}
@keyframes blinker {
  100%{
    color: #FF7A00;
  }
  50% {
  color:#210f878e;}
  0% {
    color: white;
  }
}

h1{
  font-size: clamp(3rem, calc(7vw + 2rem), 4rem);
}
/* clamp (dies ist eine Funktion) hat drei Werte, den minimalen, preferierten und den maximalen.
Auch calc() ist eine Funktion. Das ergebnis ändert sich dynamisch, da die Werte auch relativ sind.  */
h2 {
  font-size: clamp(1em, calc(4vw + 0.5em), 3em);
}
h2::before{
  counter-increment: Nr;
  content: "Nr. " counter(Nr) ": ";
}
body {
  background-image: url(Roshi_GT.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.895);
  background-blend-mode: overlay;
  margin: 0;
  counter-reset: Nr;
  color: white;
}
/* der letzte Wert der rgba Klammer ist der Opacity Wert  */
main {
  margin-left: 10px;
  margin-right: 10px;
}
.schiggiBox {
  display: felx;
}
.schiggi {
  width: 20vh;
}
/* 20% der BildschrimHÖHE */
.schiggi2 {
  width: 20vw;
}
/* 20% der BildschrimBREITE */

.schiggi3 {
  width: 20rem;
}
/* 1 rem bezieht sich immer auf die festgelegte Schriftgröße des html Dokuments.
      Meist ist das 1rem = 16px */
.schiggi4 {
  width: min(20rem, 20vw, 20vh);
}
/* Nimmt immer den kleinsten Wert aus der Klammer */

/* Dieses Bild hate eine id. wir schreiben nicht .verne sondern #verne. */
#verne {
  box-shadow: 5px 10px 20px red;
  border-radius: 10px 80px 30px 10px;
}
/* box-shadow macht einen Schatten um das Bild. 5px nach rechts, 10px nach unten, 20px ist das Auslaufen des Schattens, red ist die Farbe */
#verne {
  width: clamp(10em, 40em, 45em);
  transition: width 0.3s 0.3s ease;
}
@media(max-width: 500px){
  #verne{
    width: 100%;
}}
/* unten beschreiben wir, was beim hovern über das Bild passiert. Oben (transition) zeigt an, wie der Übergang funktioniert.
  Hier dauert die Vergrößerung 0.9 Sekunden und es startet erst(ease) nach 0.5 Sekunden */
#verne:hover {
  width: clamp(12em, 45em, 50em);
}
/* Das ...:hover nennen wir eine Pseudoklasse */
#verne:active {
  box-shadow: 5px 10px 20px rgb(51, 26, 212);
}

/* active heißt, dass etwas beim anklicken passiert. */
#testButton {
  padding: 12px 32px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #6f1ee0, #00d4ff);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 150, 255, 0.3);
}
/* linear-gradient (Gradzahl, wie die beiden folgenden Farben verlaufen */
#testButton:hover {
  transform: translateY(-10px) scale(1.2);
  box-shadow: 0 6px 15px rgba(0, 200, 255, 0.5);
  background: linear-gradient(135deg, #00b0ff, #00ffd5);
}
/* Leichter „Glow“ beim Hover. linear-gradient (Gradzahl, wie die beiden folgenden Farben verlaufen.
translateY() verschiebt den button etwas beim hovern) */

#testButton:active {
  transform: scale(0.97);
  box-shadow: 0 3px 8px rgba(0, 150, 255, 0.3);
}

.box {
  background-color: blanchedalmond;
}
#verne2 {
  width: clamp(50px, 100px, 200px);
  top: 50x;
  left: 50px;
  position: relative;
}
/* top und left verschieben das Bild. position: relative verschiebt es relative in der Box.
Wenn ich absolute eingebe, statt relative, dann verschiebt sich das Bild in die linke obere Ecke der Seite.
Die farbige Box wird ignoriert. Mit absolute kann ich die Bilder ganz frei auf der Seite positionieren. */
#verne3 {
  width: 100px;
  right: 530px;
  top: 80px;
  position: absolute;
  z-index: 1;
}
/* Dieses Bild ist direkt in der obersten Überschrift. Es hat einen z-index von 1, ist also vor der Überschrift */
#verne4{      
  width: 100px;
  right: 920px;
  top: 80px;
  position: absolute;
  z-index: -1;
  }  
  /* Der z-index ist -1, Verne ist also hinter der Überschrift */

p {
  transition: all 0.3s ease;
  font-size: 1.5rem;
}
p:hover {
  color:#FF7A00;
  transform: scale(1.01);
}

.contentBox {
  box-shadow: 2px 2px 5px;
  background-color: #210f878e;
  box-shadow: 10px 10px 15px #FF7A00;
  padding: 50px;
  border-radius: 20px;
  margin: 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  letter-spacing: 2px;
  margin: 25px;
}
.contentBox:hover {
  transform: translateY(-3px);
  box-shadow: 8px 8px 15px #ff6200;
}
.sideLink{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.328);
  transition: all 0.3s ease;
  border-radius: 0 20px 20px 0;
  /* writing-mode: vertical-lr; */
  text-orientation: upright;
  font-size: 1.2rem;
  letter-spacing: 4px;
}
.sideLink:hover{
  width: 80px;
  background-color: #ff7b00b5;
  cursor: pointer;
}
#topButton {
  position: fixed;
  right: 90px;
  bottom: 90px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background: linear-gradient(
    135deg,
    rgb(57, 36, 238),
    rgb(19, 160, 241)
  );
  border-style: groove;
  transition: all 0.3s ease;
  font-size: 24px;
  cursor: move;
  box-shadow: 0px 0px 20px 5px rgba(64, 6, 224, 0.61);
}
#topButton:hover {
  background: linear-gradient(
    120deg,
    rgb(57, 36, 238),
    rgb(19, 160, 241)
  );
}
#topButton:active {
  background: linear-gradient(
    105deg,
    rgb(57, 36, 238),
    rgb(19, 160, 241)
  );
  transform: scale(1.1);
  box-shadow: 0px 0px 80px 3000px #FF7A00;
}
#hiddenDiv p{
  display: none;
  position: absolute;
  right: 150px;
  top: 100px;
  padding: 0px;
  background-color: rgba(56, 36, 238, 0.456);
}
#hiddenDiv:hover p{
  display: block;
}
table{
  text-align: left;
}
input:focus{
  background-color: rgba(56, 36, 238, 0.466);
}
.flexboxPseudo{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}
.flexboxPseudoKlein{
  border: solid;
  background-color: rgb(0, 0, 0);
  width: clamp(10em, 12em, 20em);
  padding: 3px;
  background-image: url(Roshi_GT.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: #ff7b00b5;
  border-radius: 10px 80px 30px 10px;
}
.flexboxPseudoKlein p{
  font-size: 1rem;}

.flexboxPseudoKlein::selection{
  background-color: yellowgreen;
  color: red;
}
::marker{
  color: blue;
  font-size: 20px;
}
#firstLetter::first-letter{
  color: blue;
  font-size: xx-large;
}
.flexboxOverflow{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}
.flexboxOverflowKleinScroll{
  width: clamp(12em, 20em, 40em);
  max-height: 150px;
  background-color: rgb(0, 0, 0);
  border: solid;
  border-color: #ff7b00b5;
  overflow: scroll;
  margin: 1em;
}
.flexboxOverflowKleinHidden{
  width: clamp(15em, 20em, 40em);
  max-height: 150px;
  background-color: rgb(0, 0, 0);
  border: solid;
  border-color: #ff7b00b5;
  overflow: hidden;
  border-radius: 10px 80px 30px 10px;
  margin: 1em;

}
.flexboxOverflowKleinVisible{
  width: clamp(15em, 20em, 40em);
  max-height: 150px;
  background-color: rgb(0, 0, 0);
  border: solid;
  border-color: #ff7b00b5;
  overflow: visible;
  border-radius: 10px 80px 30px 10px;
  margin: 1em;
}
#karousselBox{
  margin: 3em auto;
  gap: 5em;
  padding: 5px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  anchor-name: --karoussel;
  scroll-snap-type: x mandatory;
}
#karousselBox::-webkit-scrollbar{
  display: none;
}
#karousselBox::scroll-button(right):disabled, #karousselBox::scroll-button(left):disabled {
  opacity: 0.5;
}
#karousselBox::scroll-button(right), #karousselBox::scroll-button(left) {
  content: ">";
  border: none;
  background-color: #00b0ff;
  font-size: 3rem;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  padding-bottom: .1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --karoussel;
  position-area: right center;
  translate: -90%;
}
#karousselBox::scroll-button(left){
  content: "<";
  position-area: left center;
  translate: 90%;
}
.imgCard{
  width: clamp(1em, 20em, 30em);
}

.card{
  scroll-snap-align: start;
  height: clamp(15em, 40em, 40em);
  /* aspect-ratio: 2 / 3; */
  border-radius: 5rem;
  background-color: bisque;
  padding: 1rem;
  text-align: center;
  align-content: center;
  flex: 0 0 30em;
  overflow: hidden;
  box-shadow: 5px 5px 10px #ff7b00b5;
}
.card::scroll-marker:target-current{
  background-color: #00ffd5;
}
@media(max-width: 500px){
  .card{
    flex: 0 0 10em;
    height: 30em;
  }
  #karousselBox{
    gap:3em;
    
  }
  .imgCard{
    width: clamp(10em, 12em, 15em);
    padding: 0;
  }
}