*{
  margin: 0;
  padding: 0;
}
:root{
  --clr-text: white;
  --clr-shadow: #FF7a00;
  --clr-strong: #cf5204;
  --clr-navBar: #210f878e;
  --clr-hover: yellow;
  --clr-navBarLink: blue;
  --clr-selection: yellowgreen;
  --clr-karBox:#00b0ff;
  --clr-columnsPic: #00d4ff

}
#buttonRotate{
    background-color: var(--clr-navBarLink);
    color: var(--clr-shadow);
    border: solid var(--clr-shadow);
    box-shadow: 0px 0px 10px 5px  white;
    height: 150px;
    width:150px;
    animation: rotation 5.5s infinite

    /* animation-name: --rotation; */
}


@keyframes rotation{
    0%{    
        box-shadow: 0px 0px 10px 10px  rgb(170, 94, 94);
        border-radius: 20px 20px 80px 40px;
}
    25%{
        border-radius: 8px 10px 8px 10px;

    }
    50%{
        border-radius: 50%;
        rotate: 180deg;
        box-shadow: 0px 0px 10px 10px  rgb(129, 10, 10);
        
}
    75%{
        border-radius: 60px 80px 40px 10px;

    }

    100%{
        box-shadow: 0px 0px 10px 10px  rgb(129, 0, 0);
        border-radius: 60px 20px 120px 60px;
        rotate: 360deg
}
}