*{
  margin: 0;
  padding: 0;
}
:root{
  --clr-text: white;
  --clr-shadow: #FF7a00;
  --clr-strong: #cf5204;
  --clr-navBar: #210f87;
  --clr-hover: yellow;
  --clr-navBarLink: blue;
  --clr-selection: yellowgreen;
  --clr-karBox:#00b0ff;
  --clr-columnsPic: #00d4ff;
  --clr-dark: rgb(0, 0, 0);
}
header{
    position: sticky;
    top:0;
    background: var(--clr-dark);
    color: var(--clr-text);
    text-align: center;
    z-index: 1;
}
main{
  font-size: clamp(1em, calc(1vw + 0.5em), 5em);

}
h1, h2, h3, h4 {
    padding-bottom: 0.5em
}
.contentBox{
    display: flex;

}
.contentBlack{
    width: 50vw;
    min-height: 50vh;
    background: var(--clr-dark);
    color: var(--clr-text);
    padding:5px
}
.contentWhite{
    width: 50vw;
    min-height: 50vh;
    background: var(--clr-text);
    color: var(--clr-dark);
    padding:5px

}
meter{
    width: 10em;
    height: 2em;
}
#fieldsetStyle{
    padding: 5px;
    color: var(--clr-navBar);
    background-color: var(--clr-shadow);
    text-align: center;
}
#fieldsetStyle legend{
    text-align: center;
}
#abbrButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
input {
    width: 200px;
    background-color: aquamarine;   
    }
table {
    width: 100%;
    border: 1px solid #ccc;
    }
    /* Weite ist 100% und passt sich dem Bildschirm an */
tr, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }

th {
    background-color: #f5f5f5;
    color: #333;
    }